.DS_Store
.vscode
.vscode/
/dev/
/docs/build/
/Manifest.toml
/instancesXCSP22/

# Test files for navaxel
/test_julia_axel.ipynb
/test/test_learning_cp.jl

# Test files for Max9294D
/test_julia_max.ipynb
run_bash.sh
test_output.txt
test_output1.txt
test_output2.txt
test_output3.txt
test_output4.txt
